.main-container {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-productos{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 80%;
}

/*
    Actualización de estilos para la sección de productos
*/
/* Cartas de peliculas*/

.container-producto{
    transition: 500ms;
    text-decoration: none;
}
.container-producto:hover{
    transform: scale(1.05);
    transition: 500ms;
}
.card-producto{
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 270px;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 15px;
}

/* Imagen de cartas*/
.prod-img-container{
    position: relative;
}
.imagen-prod{
    width: 100%;
    margin: 0;
    border-radius: 15px 15px 0 0;

}

/* Burbujas de texto flotante */
.clasificacion-edad{
    background-color: rgb(41, 163, 16);
    color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 7px;
    border-radius: 15px;
}
.movie-time{
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 7px;
    border-radius: 15px;
    font-weight: 500;
}

.movie-title{
    font-family: Oswald;
}

.prod-text{
    margin-left: 5px;
}
.prod-text p{
    font-size: 14px;
}

@media (max-width: 1200px) {
    .card-producto {
        width: 200px;
        margin: 10px 0;
    }
    .prod-img-container {
        width: 100%;
        height: auto;
    }
    .movie-time, .clasificacion-edad {
        font-size: 12px;
        padding: 5px;
    }
    .movie-title {
        font-size: 18px;
    }
    
}

@media (max-width: 800px) {
   .search-bar{
    display: none;
    transition: 500ms;
   }
   
   .main-container{
    padding: 0;
   }
    
}