*{
    font-family: sans-serif;
}

body{
    margin: 0;
    background-color: #1B1F30;
}

/* Estilado de NAV */
#navbar{
    background-color: #0A1128;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    height: fit-content;
}

#navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li{
padding: 10px;}

#navbar ul li a{
    color: #FEFCFB;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: #1282A2;
    background-color: azure;
}

#nav-linksbtns button{
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #0A1128;
}

#nav-linksbtns button:hover{
    cursor: pointer;
    background-color: #034078;
}

.logo{
    width: 70px;
    border-radius: 100px;
}

/* Posicion del container main */
main{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    /*color: white;*/
    margin: 50px;
    text-align: left;
    font-size: 32px;
    color: white;
}

.container-ingresar-nombre{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilizado para la barra de busqueda*/
.search-bar{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 5px 0;
    border-bottom: 2px solid white;
}
.search-bar input{
    color: white;
    background: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    width: 50vw;
}

.filter-select{
    color: white;
    font-weight: 600;
    border-radius: 15px;
    padding: 15px;
    font-size: 15px;
    width: 200px;
    margin-left: 10px;
    background-color: #0A1128; 
    border: none;
}

/* Botones */
.boton{
    color: white;
    border: 0;
    border-radius: 15px;
    background-color: #001F54;
    height: 50px;
    width: 100px;
    margin: 10px;
}

.boton:hover{
    cursor: pointer;
    background-color: #034078;
}




footer{
    background-color: #0A1128;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}